.about {
    display: flex;
    justify-content: center;
}

.writingText {
    font-size: inherit;
    text-decoration: underline;
}

.ityped-cursor {
    animation: blink 1s infinite;

}

@keyframes blink {
    100%{
        opacity: 0;
    }
}